// fonts
.fp {font-family: 'Open Sans',sans-serif;} // font primary
.fh {font-family: 'Officina Sans', sans-serif;} // font header
.fi {font-family: 'sosvb-icons',sans-serif;} // font icon

// body
@bb: #f6f7f8; // body background

// colors
@cp: #333; // color primary
@blue: #003479;
@yellow: #ffce47;
@color1: #3aab97;
@color2: #991f27;
@color3: #00c0eb;
@color4: #eb8d00;
@color5: #84d600;
@color6: #723f99;
@cl: #0096b8; // color link

// font sizes
@fsp: 16px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 1140px;
@content-padding: 10px;