#page-header {
	position: relative;
	min-width: @content-width;
	.top {
		position: relative;
		overflow: hidden;
		background: @blue;
	}
	.main {
		position: relative;
		overflow: hidden;
		z-index: 1;
		-webkit-box-shadow: 0 0 6px #000;
		-moz-box-shadow: 0 0 6px #000;
		box-shadow: 0 0 6px #000;
		background: #b0c8ed;
		background-image: -moz-linear-gradient(top,  #e1e6ed 0%, #b0c8ed 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1e6ed), color-stop(100%,#b0c8ed));
		background-image: -webkit-linear-gradient(top,  #e1e6ed 0%,#b0c8ed 100%);
		background-image: -o-linear-gradient(top,  #e1e6ed 0%,#b0c8ed 100%);
		background-image: -ms-linear-gradient(top,  #e1e6ed 0%,#b0c8ed 100%);
		background-image: linear-gradient(to bottom,  #e1e6ed 0%,#b0c8ed 100%);
		&:before{
			position: absolute;
			left: 50%;
			top: 0;
			content: '';
			height: 800px;
			width: 800px;
			margin: -400px 0 0 -1103px;
			-ms-transform: rotate(-21deg);
			-webkit-transform: rotate(-21deg);
			transform: rotate(-21deg);
			background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 100%);
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.5)));
			background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 100%);
			background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 100%);
			background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 100%);
			background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 100%);
		}
		&:after{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 4px;
			content: '';
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.1)));
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);
			background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);
			background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);
		}
		.container {
			position: relative;
			min-height: 97px;
		}
		.logo {
			position: absolute;
			left: 10px;
			top: 21%;
			bottom: 14%;
			width: 100%;
			margin: 0;
			padding: 0;
			a {
				img {
					position: absolute;
					left: 0;
					top: 0;
					width: inherit!important;
					max-width: inherit!important;
					height: 100%!important;
					max-height: 92px;
				}
			}
		}
		.slogan {
			position: relative;
			padding: 30px 110px 0 0;
			margin: 0 0 40px 33.3333%;
			font-size: 14px;
			figure {
				position: absolute;
				right: 0;
				top: 30px;
				img {
					.border-radius(50%);
				}
			}
			p {
				margin: 0 36px 22px;
				color: @blue;
			}
			.author {
				text-align: right;
				margin: 0 10px;
				padding: 0 31px 0 0;
				font-style: italic;
				color: #746e70;
				border-top: 1px dotted #626a7b;
				img {
					position: relative;
					top: 19px;
					margin: 0 6px -5px 0;
				}
			}
		}
	}
}
#main-nav {
	min-width: @content-width;
	position: relative;
	z-index: 999;
	background: #ffce47;
	.container {
		position: static;
	}
}
#wrapper {
	.clearfix;
	min-width: @content-width;
	background: #fff;
	padding: 65px 0 0;
}
#col-main {
	width: 855px;
	padding: 0 50px 0 0;
	float: left;
}
#col-right {
	width: 265px;
	float: left;
}
#page-footer {
	padding: 46px 0;
	.xart {
		margin: 9px 0;
		float: right;
		font-size: 11px;
		text-transform: uppercase;
		img {
			margin: 0 0 0 9px;
			float: right;
		}
		a {
			text-decoration: none;
			color: #858585;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.copy {
		clear: both;
		padding: 43px 0 0;
		font-size: 13px;
		border-top: 1px dotted @cp;
	}
}
#gotop{
	a{
		.transition(0.2s);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 42px;
		text-align: center;
		background: @blue;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e803';
			font-size: 20px;
		}
		&:hover{
			background: darken(@blue,10%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}