.mod_breadcrumbs{
	.fh;
	color: lighten(@cp,40%);
	font-size: 14px;
	margin: -50px 0 30px;
	ul{
		.rul;
		.clearfix;
		li{
			float: left;
			margin-right: 15px;
			&:before{
				top: 5px;
			}
			&:first-child {
				padding-left: 0;
				&:before{
					display: none;
				}
			}
			a {
				color: lighten(@cp,30%);
			}
		}
	}
}
.mod_menu-top {
	ul {
		.rul;
		float: right;
		li {
			.rli;
			float: left;
			margin: 0 0 0 20px;
			img {
				.transition(0.2s);
				display: block;
				-webkit-box-shadow: 0 0 20px #000;
				-moz-box-shadow: 0 0 20px #000;
				box-shadow: 0 0 20px #000;
			}
			a {
				&:hover{
					img {
						-webkit-opacity: 0.8;
						-moz-opacity: 0.8;
						opacity: 0.8;
						filter:alpha(opacity=80);
					}
				}
			}
		}
	}
}
.mod_menu-main {
	.fh;
	.toggle {
		.fh;
		display: none;
		position: relative;
		float: right;
		margin: 20px 0;
		padding: 0 46px 0 0;
		cursor: pointer;
		text-transform: uppercase;
		color: @blue;
		font-weight: bold;
		font-size: 20px;
		line-height: 1.2;
		span{
			position: absolute;
			content: '';
			right: 0;
			top: 0;
			width: 32px;
			height: 4px;
			background: @blue;
			&:nth-child(2) {
				top: 50%;
				margin-top: -2px;
			}
			&:nth-child(3) {
				margin-top: -4px;
				top: 100%;
			}
		}
	}
	&.on {
		.toggle {
			span{
				&:nth-child(1) {
					margin-top: -2px;
					top: 50%;
					-ms-transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
				}
				&:nth-child(2) {
					display: none;
				}
				&:nth-child(3) {
					margin-top: -2px;
					top: 50%;
					-ms-transform: rotate(-45deg);
					-webkit-transform: rotate(-45deg);
					transform: rotate(-45deg);
				}
			}
		}
	}
	&>ul {
		.rul;
		&>li {
			.rli;
			position: static;
			float: left;
			&:last-child {
				a {
					&:after{
						display: none;
					}
				}
			}
			&>a {
				.transition(0.2s);
				position: relative;
				display: block;
				color: @blue;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 17px;
				line-height: 1;
				padding: 25px 14px 22px;
				text-decoration: none;
				&:hover{
					color: #fff;
				}
				&:after{
					display: inline-block;
					color: @blue;
					position: relative;
					left: 13px;
					content: '/';
					-moz-transform: scale(-1, 1);
					-webkit-transform: scale(-1, 1);
					-o-transform: scale(-1, 1);
					-ms-transform: scale(-1, 1);
					transform: scale(-1, 1);
				}
			}
			&.act {
				&>a {
					color: #fff;
				}
			}
			&.has-ul {
				&>a {
					&:before{
						.transition(0.3s);
						position: absolute;
						content: '';
						left: 50%;
						bottom: 0;
						border: 8px solid transparent;
						border-bottom-width: 0;
						border-bottom-color: #3f669a;
						margin: 0 0 0 -8px;
					}
				}
				&:hover{
					&>a {
						&:before{
							border-bottom-width: 10px;
						}
					}
				}
			}
			&:hover {
				.dropdown {
					max-height: 180px;
				}
			}
			.dropdown {
				.fh;
				.transition(0.8s);
				max-height: 0;
				position: absolute;
				left: 0;
				top: 100%;
				width: 100%;
				background: #3f669a;
				overflow: hidden;
				&>ul {
					.rul;
					.container;
					&>li {
						.rli;
						float: left;
						&>a {
							.transition(0.2s);
							display: block;
							padding: 18px 14px 17px;
							color: #fff;
							font-size: 17px;
							text-decoration: none;
							border-bottom: 6px solid transparent;
							&:hover{
								color: fade(#fff,60%);
							}
						}
						&.act {
							&>a {
								color: fade(#fff,60%);
								text-decoration: underline;
							}
						}
						&.item_01 a{border-color: @color1;}
						&.item_02 a{border-color: @color2;}
						&.item_03 a{border-color: @color3;}
						&.item_04 a{border-color: @color4;}
						&.item_05 a{border-color: @color5;}
						&.item_06 a{border-color: @color6;}
					}
				}
			}
		}
	}
}
.mod_custom-slideshow {
	min-width: @content-width;
	position: relative;
	background: #7f99bc;
	border-bottom: 83px solid @blue;
	.items {
		position: relative;
		height: 450px;
		overflow: hidden;
		float: left;
		.item {
			position: relative;
			width: 845px;
			img {
				display: block;
			}
			.content {
				.fh;
				.transition(0.2s);
				padding: 35px 34px 0;
				font-size: 26px;
				line-height: 1.2;
				color: #fff;
				position: absolute;
				right: -200px;
				top: 0;
				height: 100%;
				width: 275px;
				font-weight: bold;
				border-right: 10px solid @blue;
				background: fade(@blue,65%);
				h2 {
					text-transform: uppercase;
					font-size: 30px;
					font-weight: bold;
					margin: 0 0 22px;
					color: #fff;
				}
			}
			nav {
				.transition(0.4s);
				position: absolute;
				bottom: 0;
				right: -200px;
				width: 275px;
				a {
					.fh;
					.clearfix;
					display: block;
					text-transform: uppercase;
					font-weight: bold;
					padding: 24px 32px 23px 34px;
					text-decoration: none;
					font-size: 26px;
					line-height: 1.2;
					color: #fff;
					background: @blue;
					[class^="icon-"]{
						.border-radius(50%);
						.transition(0.2s);
						display: block;
						float: right;
						right: 32px;
						top: 50%;
						margin: 8px 0 0 40px;
						padding: 0 0 0 4px;
						width: 48px;
						height: 48px;
						line-height: 52px;
						text-align: center;
						font-size: 28px;
						background: #fff;
						color: @blue;
						&:before{
							margin: 0;
						}
					}
					&:hover{
						&:before{
							margin-right: -5px;
							margin-left: 45px;
						}
					}
				}
			}
			&.cycle-slide-active {
				.content {
					right: 0;
				}
				nav {
					right: 0;
				}
			}
			&.item_01 {
				.content {
					border-color: @color1;
					background: fade(@color1,65%);
				}
				nav {
					a {
						background: @color1;
						[class^="icon-"] {
							color: @color1;
						}
					}
				}
			}
			&.item_02 {
				.content {
					border-color: @color2;
					background: fade(@color2,65%);
				}
				nav {
					a {
						background: @color2;
						[class^="icon-"] {
							color: @color2;
						}
					}
				}
			}
			&.item_03 {
				.content {
					border-color: @color3;
					background: fade(@color3,65%);
				}
				nav {
					a {
						background: @color3;
						[class^="icon-"] {
							color: @color3;
						}
					}
				}
			}
			&.item_04 {
				.content {
					border-color: @color4;
					background: fade(@color4,65%);
				}
				nav {
					a {
						background: @color4;
						[class^="icon-"] {
							color: @color4;
						}
					}
				}
			}
			&.item_05 {
				.content {
					border-color: @color5;
					background: fade(@color5,65%);
				}
				nav {
					a {
						background: @color5;
						[class^="icon-"] {
							color: @color5;
						}
					}
				}
			}
			&.item_06 {
				.content {
					border-color: @color6;
					background: fade(@color6,65%);
				}
				nav {
					a {
						background: @color6;
						[class^="icon-"] {
							color: @color6;
						}
					}
				}
			}
		}
	}
	.menu {
		.rul;
		float: left;
		width: 275px;
		background: #3f669a;
		li {
			.rli;
			a {
				.fh;
				position: relative;
				display: block;
				height: 75px;
				font-size: 21px;
				line-height: 70px;
				font-weight: bold;
				padding: 5px 10px 0 37px;
				white-space: nowrap;
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
				border-left: 10px solid #ffce47;
				&:before{
					.transition(0.2s);
					position: absolute;
					content: '';
					top: 0;
					left: 0;
					border-top: 75px solid transparent;
					border-left: 0 solid transparent;
				}
				&:after{
					position: absolute;
					content: '';
					top: 0;
					right: 0;
					left: 35px;
					height: 1px;
					background: fade(#fff,20%);
				}
			}
			&:first-child {
				a {
					&:after{
						display: none;
					}
				}
			}
			&.cycle-pager-active {
				a {
					background: darken(#ffce47,10%);
					&:before{
						border-left-color: #ffce47;
						border-left-width: 30px;
					}
				}
			}
			&.item_01 {
				a {
					border-color: @color1;
				}
				&.cycle-pager-active {
					a {
						background: darken(@color1,10%);
						&:before{
							border-left-color: @color1;
						}
					}
				}
			}
			&.item_02 {
				a {
					border-color: @color2;
				}
				&.cycle-pager-active {
					a {
						background: darken(@color2,10%);
						&:before{
							border-left-color: @color2;
						}
					}
				}
			}
			&.item_03 {
				a {
					border-color: @color3;
				}
				&.cycle-pager-active {
					a {
						background: darken(@color3,10%);
						&:before{
							border-left-color: @color3;
						}
					}
				}
			}
			&.item_04 {
				a {
					border-color: @color4;
				}
				&.cycle-pager-active {
					a {
						background: darken(@color4,10%);
						&:before{
							border-left-color: @color4;
						}
					}
				}
			}
			&.item_05 {
				a {
					border-color: @color5;
				}
				&.cycle-pager-active {
					a {
						background: darken(@color5,10%);
						&:before{
							border-left-color: @color5;
						}
					}
				}
			}
			&.item_06 {
				a {
					border-color: @color6;
				}
				&.cycle-pager-active {
					a {
						background: darken(@color6,10%);
						&:before{
							border-left-color: @color6;
						}
					}
				}
			}
		}
	}
}
.mod_custom-event {
	padding: 25px 0 23px 25px;
	margin: 0 0 35px;
	background: #ffce47;
	.mod-title {
		.fh;
		color: @blue;
		font-size: 20px;
		line-height: 1.2;
		margin: 0 25px 13px 0;
		text-transform: uppercase;
	}
	ul {
		.rul;
		li {
			.rli;
			font-size: 14px;
			line-height: 1.3;
			padding: 10px 20px 9px 0;
			border-top: 1px dotted @blue;
			&:first-child {
				border-top: none;
			}
			mark {
				font-weight: bold;
				font-style: italic;
				color: @blue;
				&:after{
					display: inline-block;
					content: '/';
					color: @cp;
					margin: 0 4px 0 7px;
					font-style: inherit;
					-moz-transform: scale(-1, 1);
					-webkit-transform: scale(-1, 1);
					-o-transform: scale(-1, 1);
					-ms-transform: scale(-1, 1);
					transform: scale(-1, 1);
				}
			}
			a {
				text-decoration: none;
				color: @cp;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_custom-facebook {
	margin: 0 0 35px;
	a {
		.transition(0.2s);
		display: block;
		padding: 25px 25px 20px;
		text-decoration: none;
		color: #fff;
		background: #4466a9;
		&:hover{
			background: darken(#4466a9,5%);
		}
		.mod-title {
			.fh;
			font-size: 20px;
			line-height: 1.2;
			text-transform: uppercase;
			margin: 0 0 24px;
			img {
				display: block;
				margin: 0 0 10px;
			}
		}
		ul {
			.rul;
			.clearfix;
			margin: 0 -7px;
			li {
				.rli;
				float: left;
				margin: 0 0 5px 7px;
				img {
					.border-radius(50%);
					display: block;
					border: 2px solid #fff;
					max-width: 46px;
					height: auto!important;
				}
			}
		}
	}
}
.mod_banners {
	.clearfix;
	margin: 0 0 35px;
	.mod-title {
		.fh;
		font-size: 20px;
		color: @blue;
		text-transform: uppercase;
		margin: 9px 0 13px;
	}
	ul {
		.rul;
		li {
			.rli;
			margin: 0 0 10px;
		}
	}
}
.mod_newsflash_xart {
	margin: -65px 0 73px;
	.mod-title {
		.fh;
		position: relative;
		top: -30px;
		padding: 31px 45px 0 37px;
		display: inline-block;
		text-transform: uppercase;
		color: @blue;
		font-weight: bold;
		font-size: 28px;
		line-height: 1;
		background: #fff;
	}
	section {
		margin: 0 0 0 35px;
		article {
			.clearfix;
			margin: 0 0 53px;
			figure {
				position: relative;
				margin: 5px 0 0;
				width: 30%;
				float: left;
				a {
					img {
						.transition(0.2s);
					}
					&:hover{
						img {
							-webkit-opacity: 0.8;
							-moz-opacity: 0.8;
							opacity: 0.8;
							filter:alpha(opacity=80);
						}
					}
				}
				.date {
					.fh;
					position: absolute;
					z-index: 1;
					top: 0;
					left: 0;
					color: #fff;
					text-align: center;
					font-weight: bold;
					background: @blue;
					line-height: 1.5;
					height: 75px;
					padding: 18px 0 0 17px;
					&:before{
						position: absolute;
						left: 100%;
						top: 0;
						content: '';
						border-top: 75px solid transparent;
						border-left: 28px solid @blue;
					}
					mark {
						display: block;
						color: #f9b700;
					}
				}
			}
			.content {
				float: left;
				width: 70%;
				padding: 0 0 0 34px;
			}
			h2 {
				font-size: 30px;
				color: @blue;
				margin: 0 0 15px;
			}
			p {
				margin: 0 0 13px;
			}
			nav {
				a {
					.fh;
					display: inline-block;
					font-size: 23px;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
					&:before {
						.fi;
						.border-radius(50%);
						content: '\e802';
						float: right;
						width: 24px;
						height: 24px;
						line-height: 24px;
						font-size: 16px;
						margin: 4px 0 0 10px;
						text-align: center;
						color: #fff;
						background: @cl;
					}
				}
			}
		}
		&>nav {
			margin: -8px 0 0;
			a {
				.fh;
				.transition(0.2s);
				position: relative;
				display: inline-block;
				text-decoration: none;
				color: #fff;
				font-weight: bold;
				text-transform: uppercase;
				height: 54px;
				line-height: 54px;
				font-size: 17px;
				padding: 0 24px;
				min-width: 264px;
				background: @blue;
				&:hover{
					background: darken(@blue,10%);
					&:after{
						border-left-color: darken(@blue,10%);
					}
				}
				&:before{
					.fi;
					content: '\e804';
					font-weight: normal;
					color: @cl;
					font-size: 28px;
					float: left;
					margin: 0 20px 0 0;
				}
				&:after{
					.transition(0.2s);
					position: absolute;
					left: 100%;
					top: 0;
					content: '';
					border-top: 54px solid transparent;
					border-left: 22px solid @blue;
				}
			}
		}
	}
}
.mod_menu-footer {
	float: left;
	margin: 0 0 30px;
	ul {
		.rul;
		.clearfix;
		li {
			.rli;
			.fh;
			float: left;
			margin: 0 14px 10px 0;
			font-size: 23px;
			line-height: 1.2;
			color: @cl;
			&:after{
				display: inline-block;
				margin: 0 0 0 14px;
				content: '/';
				-moz-transform: scale(-1, 1);
				-webkit-transform: scale(-1, 1);
				-o-transform: scale(-1, 1);
				-ms-transform: scale(-1, 1);
				transform: scale(-1, 1);
			}
			a {
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}