@media (min-width: 1200px) {
	
}
@media (max-width: 1199px) {
	.mod_menu-main {
		.toggle {
			display: block;
		}
		&>ul {
			.transition(0.2s);
			clear: both;
			max-height: 0;
			overflow: auto;
			padding: 0 20px 0 0;
			&>li {
				float: none;
				&.has-ul {
					&:hover{
						&>a {
							&:before{
								border-bottom-width: 0;
							}
						}
					}
				}
				&>a {
					padding: 10px 0;
					&:after{
						display: none;
					}
				}
				&>.dropdown {
					position: static;
					max-height: inherit;
					background: none;
					margin: 0 0 20px;
					&>ul {
						width: inherit;
						padding: 0;
						&>li {
							float: none;
							display: inline-block;
							&>a {
								display: inline-block;
								padding: 0 5px;
								color: @blue;
							}
						}
					}
				}
			}
		}
		&.on {
			&>ul {
				border-top: 1px solid @blue;
				padding-top: 10px;
				padding-bottom: 20px;
				max-height: 500px;
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 1199px) {
	@content-width: 740px;
	.container {
		width: @content-width;
	}
	#page-header,
	#main-nav,
	#wrapper,
	.mod_custom-slideshow {
		min-width: @content-width;
	}
	#page-header {
		.main {
			&:before{
				display: none;
			}
			.slogan {
				margin-left: 42%;
				p {
					margin-left: 0;
				}
				.author {
					margin-left: 0;
				}
			}
		}
	}
	#col-main {
		width: 100%;
		padding-right: 0;
	}
	#col-right {
		padding-top: 0;
		width: 100%;
	}
	.mod_custom-slideshow {
		.items {
			width: 445px;
			.item {
				width: 445px;
				height: 450px;
				img {
					max-width: inherit;
					height: 450px!important;
					margin: 0 0 0 -25%;
				}
			}
		}
	}
	.mod_newsflash_xart {
		section {
			margin-left: 0;
			article {
				figure {
					width: 38%;
				}
				.content {
					width: 62%;
				}
			}
		}
	} 
}
@media (max-width: 767px) {
	@content-width: 100%;
	.container {
		width: @content-width;
	}
	#page-header,
	#main-nav,
	#wrapper,
	.mod_custom-slideshow {
		min-width: @content-width;
	}
	#col-main {
		width: 100%;
		padding-right: 0;
	}
	#col-right {
		padding-top: 0;
		width: 100%;
	}
	#page-header {
		.main {
			&:before{
				display: none;
			}
			.logo {
				position: static;
				text-align: center;
				margin-top: 20px;
				a {
					img {
						position: static;
					}
				}
			}
			.slogan {
				margin: 20px 0;
				padding: 0;
				text-align: center;
				figure {
					position: static;
				}
				p {
					margin: 0 0 10px;
				}
				.author {
					margin: 0;
					text-align: center;
					img {
						position: static;
						display: block;
						margin: 10px auto 0;
					}
				}
			}
		}
	}
	.mod_custom-slideshow {
		display: none;
	}
	.mod_newsflash_xart {
		.mod-title {
			top: inherit;
			margin-bottom: 30px;
			padding-left: 0;
			padding-right: 0;
		}
		section {
			margin: 0;
			article {
				figure {
					width: 100%;
					margin-bottom: 20px;
				}
				.content {
					width: 100%;
					padding-left: 0;
				}
			}
		}
	}
}