nav.more{
	margin: 20px 0;
	text-align: right;
	a{
		.btn;
		&:after{
			.fi;
			position: relative;
			content: '\e802';
			margin: 0 0 0 10px;
		}
	}
}
table.normal{
	margin:0 0 20px 0;
	width:100%;
	background: lighten(@blue,70%);
	th,td{
		padding:6px 8px;
		border:1px solid lighten(@cp,100%);
		font-weight:normal;
	}
	&.compact th,&.compact td{
		padding:2px 8px;
	}
	tr:nth-child(odd) td{
		background: lighten(@blue,72%);;
	}
	th,thead td{
		font-weight: bold;
		color: #fff;
		background: @blue!important;
		a{
			color: #fff;
		}
	}
	tfoot td{
		background: lighten(@blue,65%)!important;
	}
}
table.info{
	margin:0 0 20px 0;
	td,th{
		padding:0 7px 0 0;
	}
}
form.normal{
	margin:0 0 20px 0;
	label{
		display:block;
		margin:0 0 10px 0;
		font-weight:bold;
	}
	.optgroup label{
		display:inline;
		font-weight:normal;
	}
	input.input-mini{
		width: 36px;
		padding-left:0;
		padding-right:0;
		text-align:center;
	}
	input.input-small{
		max-width: 150px;
	}
	input.input-large{
		max-width: 300px;
	}
	.fileinputs{
		.clearfix;
		position: relative;
		overflow: hidden;
		display: block;
		cursor: default;
		.type-file{
			position:absolute;
			top: 0;
			left: 0;
			margin: 0;
			padding: 0;
			border: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			font-size: 200px;
			cursor: default;
			-webkit-opacity: 0;
			-moz-opacity: 0;
			opacity: 0;
			filter: alpha(opacity=0);
		}
		.input-file-text{
			border-right: 0;
			float: left;
			margin-right: 0;
			padding-right: 0;
		}
		input[type='button']{
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}
.search-results .highlight,.results .highlight{
	background: @cl;
	padding: 0 3px;
	color: #fff;
}
.pagehub{
	clear: both;
	text-align: center;
	padding: 20px 0;
	a,span{
		.btn;
		padding: 0;
		width: 30px;
		height: 30px;
		line-height: 30px;
	}
	span.pagenav{
		color: #fff;
		background: @cl;
	}
	.pagenav-ico{
		opacity: 0.5;
		-moz-opacity: 0.5;
		filter: alpha(opacity=50);
		cursor: default;
	}
}
.clear-decor,.description_separator,.article_separator{
	clear: both;
	margin: 30px 0;
	height: 14px;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.1)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);

}
img.img-left,img[align=left]{
	float: left;
	margin: 0 15px 5px 0;
}
img.img-right,img[align=right]{
	float: right;
	margin: 0 0 5px 15px;
}
a.xeditorpopup img{
	.transition(0.2s);
	padding: 3px;
	border: 1px solid lighten(@cp,50%);
}
a.xeditorpopup:hover img{
	border-color: @cl;
}
#system-message dt{
	display:none;
}
#system-message{
	.message{
		padding: 8px 14px;
		margin: 0 0 15px 0;
		color: #fff;
		background: lighten(@cl,0%);
		ul{
			.rul;
			li{
				.rli;
			}
		}
	}
	.notice{
		background: @blue;
	}
	.warning,.error{
		background: red;
	}
}
